# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/
.idea/
.vscode/
.DS_Store

# Logs / runs
logs/
results/
wandb/
tensorboard/
*.log

# Datasets & heavy artifacts (DON'T PUSH)
data/
dataset/
datasets/
body_models/
moshpp/outputs/
tools/fit_tmp/
tools/exports/
save/
checkpoints/
*.npz
*.c3d
*.bvh
*.fbx

# Compiled
*.so
*.pyd

# Jupyter
.ipynb_checkpoints/
