# data & outputs
data/
datasets/
outputs/
wandb/
runs/
logs/
dataset/HumanML3D/texts/


# big/binary artifacts
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.bin
*.pkl
*.zip
*.tar
*.mp4
*.avi

# Python cruft
__pycache__/
*.pyc
.env
